streamlit
nest-asyncio
python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-groq
langchain-huggingface
langchain-deepseek
faiss-cpu
yt-dlp
playwright
fake-useragent
pypdf
pandas
opencv-python-headless
unstructured